@charset "UTF-8";

.pointer{
	cursor: pointer;
}

a{
	color: black;
	text-decoration: none;
}

/* Login Start */

.background-login{
    background-image: url(../img/login.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-login{
    width: 350px;
    margin-left: 200px;
    margin-top: 200px;
}

.login-btn{
    background-color:rgb(238, 137, 48);
    border-radius: 12px;
    margin-top: 20px;
    border-style: none;
    width: 100px;
    height: 30px;
    color: white;
}

.login-checkbox{
	margin-top: 15px;
}

.login-label{
    padding-left: 12px;
    margin-top: 10px;
    font-size: medium;
    font-weight: 500;
    color: black;
}


@media (max-width: 600px){
    .container-login{
        width: 250px;
        margin-left: 150px;
    }
    .background-login{
        background-size: auto;
    }
}

@media (min-width: 600px) and (max-width:1000px){
    .container-login{
        width: 300px;
        margin-left: 250px;
    }
    .background-login{
        background-size: auto;
    }
}

@media (min-width: 1000px) and (max-width: 1400px){
    .container-login{
        width: 350px;
        margin-left: 350px;
    }
    .background-login{
        background-size: auto;
    }
}

/* Login End */

/* SignUp Start */
.background-signup{
	background-image: url("../img/Sign.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-signup{
    width: 370px;
    margin-left: 150px;
    margin-top: 120px;
    backdrop-filter: blur(10px);
}

.signup-input{
    width: 350px;
}

.signup-label{
    padding-left: 12px;
    margin-top: 10px;
    font-size: medium;
    font-weight: 500;
    color: white;
}

.signup-heading{
    color: white;
    font-weight: 700; 
    text-align: center; 
    font-size:35px;
}

.signup-btn{
    background-color:rgb(238, 137, 48);
    border-radius: 12px;
    margin-top: 20px;
    border-style: none;
    width: 150px;
    height: 35px;
    color: white;
    font-size: large;
    margin-left: 110px;
}

@media (max-width: 600px){
    .container-signup{
        width: 200px;
        margin-left: 90px;
    }
    .background-signup{
        background-size: auto;
    }
    
}

@media (min-width: 600px) and (max-width:1000px){
    .container-signup{
        width: 300px;
        margin-left: 250px;
    }
    .background-signup{
        background-size: auto;
    }
}

@media (min-width: 1000px) and (max-width: 1400px){
    .container-signup{
        width: 350px;
        margin-left: 350px;
    }
    .background-signup{
        background-size: auto;
    }
}

/* Home Start*/

.background-home{
    background-image: url(../img/Home.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-heading{
    text-align: center;
    color: rgb(235, 151, 72);
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 700;
}

.home-container{
    width: 300px;
    margin-left: 150px;
    margin-top: 150px;
}

.home-label{
    padding-left: 13px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-size: large;
}

.home-textarea{
	margin-top: 15px;
}

.home-submit-btn{
    background-color:rgb(238, 137, 48);
    border-radius: 12px;
    margin-top: 20px;
    border-style: none;
    width: 150px;
    height: 35px;
    color: white;
    font-size: large;
    margin-left: 70px;
}

.option{
    width: 220px;
    height: 40px;
    border-radius: 12px;
    margin-top: 30px;
    margin-left: 40px;
    font-size: large;
}

.option-text{
    padding-top: 5px;
}

.option-selection{
    background-color: rgb(238, 137, 48); 
    text-align: center;
    border-radius: 12px;
    height: 40px;
    color: white;
    font-size: large;
}

@media (max-width: 600px){
    .background-home{
        background-size: auto;
    }

    .home-container{
        width: 300px;
        margin-left: 100px;
    }
}

@media (min-width: 600px) and (max-width:1000px){
    .background-home{
        background-size: auto;
    }

    .home-container{
        width: 300px;
        margin-left: 250px;
    }
}

@media (min-width: 1000px) and (max-width: 1400px){
    .background-home{
        background-size: auto;
    }

    .home-container{
        width: 300px;
        margin-left: 400px;
    }
}