<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Dictionary</display-name>
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>Index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.servlet.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.servlet.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddWord</display-name>
    <servlet-name>AddWord</servlet-name>
    <servlet-class>com.servlet.AddWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWord</servlet-name>
    <url-pattern>/AddWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.servlet.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Selection</display-name>
    <servlet-name>Selection</servlet-name>
    <servlet-class>com.servlet.Selection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Selection</servlet-name>
    <url-pattern>/Selection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectionAddWord</display-name>
    <servlet-name>SelectionAddWord</servlet-name>
    <servlet-class>com.servlet.SelectionAddWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectionAddWord</servlet-name>
    <url-pattern>/SelectionAddWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>com.servlet.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dropdown</display-name>
    <servlet-name>Dropdown</servlet-name>
    <servlet-class>com.servlet.Dropdown</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dropdown</servlet-name>
    <url-pattern>/Dropdown</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailCheck</display-name>
    <servlet-name>EmailCheck</servlet-name>
    <servlet-class>com.servlet.EmailCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailCheck</servlet-name>
    <url-pattern>/EmailCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordReset</display-name>
    <servlet-name>PasswordReset</servlet-name>
    <servlet-class>com.servlet.PasswordReset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordReset</servlet-name>
    <url-pattern>/PasswordReset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyProfile</display-name>
    <servlet-name>MyProfile</servlet-name>
    <servlet-class>com.servlet.MyProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyProfile</servlet-name>
    <url-pattern>/MyProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileUpdate</display-name>
    <servlet-name>ProfileUpdate</servlet-name>
    <servlet-class>com.servlet.ProfileUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileUpdate</servlet-name>
    <url-pattern>/ProfileUpdate</url-pattern>
  </servlet-mapping>
</web-app>